<!doctype html>
<html lang="en">
<head>

    {% load staticfiles %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Weather Down There</title>
</head>


<body>
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'icon.png' %}" alt="" width="40px" height="30px"/>
            Weather Down There
        </a>
        <form class="col-4" action="{% url 'home' %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <select class="custom-select rounded-left"
                            style="width: 100px; border-top-right-radius: 0; border-bottom-right-radius: 0;"
                            name="options">
                        <option selected value="1">Artist</option>
                        <option value="2">Venue</option>
                    </select>
                </div>
                <input class="form-control" id="search" type="search" name="searchQuery"
                       placeholder="Search"
                       aria-label="Search">
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" value="Go" type="submit"/>
                </div>
            </div>
        </form>
    </div>
</nav>
{% if error %}
    <br/>
    <br/>
    <div class="container offset-5">
        <div class="alert alert-danger rounded-corners text-center" role="alert" style="width: 300px">
            {{ error }}
        </div>
    </div>
{% endif %}
<br/>
<br/>
{% block content %}
{% endblock %}
<br/>
<br/>
<div class="container">
    <footer class="page-footer font-small blue" style="position: fixed; bottom: 0;">
        <div class="footer-copyright text-center py-3">© 2018 Copyright: SB</div>
    </footer>
</div>
</body>
</html>