{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Weather for Events!</h1>
                <p class="lead">Ever wanted to find out the weather would be like for any concert you were going to?</p>
            </div>
        </div>
    </div>
    {% if events %}
        <div class="container text-center">
            <h1>Upcoming Events From Current Database</h1>
        </div>
    {% else %}
        <div class="container text-center">
            <h1>No Current Events in Database</h1>
            <p class="text-muted">Search for an artist or venue to populate database!</p>
        </div>
    {% endif %}
    <br/>
    <div class="container offset-2">
        <div class="card-deck mt-4">
            {% for event in events %}
                <div class="card border-dark col-auto mb-3" style="min-width: 18rem; max-width: 18rem;">
                    <div class="row">
                        <img src="{{ event.performer.image }}"
                             onerror="this.onerror=null;this.src='{% static 'nim.jpg' %}';" class="card-img-top"
                             height="200px"
                             alt="No Image Available">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ event.performer.name }} @ {{ event.venueLoc }}</h5>
                        <div class="row justify-content-center">
                            <p class="text-muted">
                                {{ event.date }}
                            </p>
                        </div>
                        <br/> <br/>
                        <a href="{% url 'eventdetails' event.eventId %}" class="stretched-link"></a>
                        <div class="card-footer text-muted text-center"
                             style="position: absolute; bottom: 0; left:0; width:100%;">
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="card-deck">
                {% endif %}
            {% endfor %}
            </div>
    </div>
{% endblock %}